/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------
    GRID LAYOUT
-------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.container-fluid {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.row > * {
    padding: 0 10px;
}

.col-20 {
    width: 20%;
}
.col-25 {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.col-30 {
    width: 30%;
}
.col-50 {
    width: 50%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 80%;
}
.col-100 {
    width: 100%;
}
.col-grow {
    flex-grow: 1;
}

/*-------------------
    GENERAL
-------------------*/

/*-------------------
    HEADER
-------------------*/
.header-top {
    padding: 16px 0;
    background-color: #3161e0;
}

a{
    color: white;
    text-decoration: none;
    padding: 0 4px;
}
    
.button{
    border-radius: 18px;
    background-color: white;
    border-color: white;
    padding: 10px 10px;
    color: black;
}

.button-black{
    border-radius: 18px;
    background-color: #23272a;
    border-color: #23272a;
    padding: 10px 10px;
    color: white;
}

.button-azzurro{
    border-radius: 18px;
    background-color: #8ea1e1;
    border-color: #8ea1e1;
    padding: 10px 10px;
    color: white;
}

.header-top ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.hero-container p{
    font-size: 15px;
}

.header-top .login {
    text-align: right;
}

.hero-container  {
    padding: 0%;
    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

/*-------------------
    MAIN
-------------------*/
main section:nth-child(2n) {
    background-color: #d3d3d3;
}

section {
    padding: 50px 0;
}

/*-------------------
    FOOTER
-------------------*/
.footer-top {
    padding-top: 10px;
    padding-bottom: 40px;
}

.footer-bottom {
    margin-top: 30px;
    padding: 20px 0;
    justify-content: space-between;
} 

.footer-top .col-70 > *, span{
    color: #fff;
}

footer{
    background-color: #23272a;
}

.col-25:not(a), .footer-top h1{
    color: #7289da;
}

.footer-top img{
    width: 20px;
    height: auto;
}

